{% extends "layout.html" %}
{% block content %}

<div class="flex w-full flex-col md:flex-row px-2 md:px-10 gap-4 items-center">
    <div class="w-full flex items-center justify-center">
        <img src="{{ url_for('static', filename='bg1.png') }}" class="rounded-lg">
    </div>
    <div class="w-full">
        <h1 class="merriweather-black-italic text-4xl pb-3">Get to Know Us Better!</h1>
        <p class="pb-2">At Y&Y Solutions, we specialize in delivering comprehensive design and development solutions for golf courses that
            balance sustainability, playability, and innovation. With over 10 successful golf projects across India, we have
            established ourselves as leaders in creating visually stunning and highly functional golf courses.</p>
        <p class="pb-2"><strong>Our in-house team of highly qualified and skilled experts</strong> works closely with clients to ensure every project aligns
            seamlessly with site-specific requirements. Whether designing a new course or renovating an existing one, our
            approach emphasizes collaboration, environmental stewardship, and ease of maintenance.</p>
        <p class="pb-2">At the heart of our philosophy is the commitment to providing golfers of all skill levels with a memorable and
            enjoyable experience while meeting the highest standards of design excellence.</p>
        </div>
</div>

<div class="my-10 p-5 px-5 md:px-20 bg-sky-700 text-white flex flex-col md:flex-row items-center gap-4">
    <p class="pr-10 text-lg md:text-2xl">Collaborate with <strong class="border-b">Srikant Sharma</strong>, India’s first qualified Golf Architect, and a team that seamlessly blends design, construction, and maintenance expertise for exceptional golf courses.</p>
    <a class="p-3 bg-slate-200 rounded-lg w-fit whitespace-nowrap text-black font-semibold hover:bg-slate-300" href="{{ url_for('team') }}">
        Meet Our World Class Team
    </a>
</div>

<div class="flex flex-col md:flex-row items-center justify-center pb-5 gap-4 px-3">
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg1.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Design Dictated by Nature</h5>
            <p class="mb-3 font-normal text-gray-700">Creating a golfing landscape starts with understanding the land’s uniqueness. We embrace nature’s features in our designs, 
                ensuring every addition blends seamlessly, appearing as a natural part of the environment.</p>
        </div>
    </div>
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg1.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Sustainable Golf Courses</h5>
            <p class="mb-3 font-normal text-gray-700">Our design process focuses on creating sustainable golf courses that harmonize with nature, utilizing native features 
                and resources to enhance the environment while ensuring easy maintenance.</p>
        </div>
    </div>
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg1.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Unique golfing experiences</h5>
            <p class="mb-3 font-normal text-gray-700">We believe a great golf course should challenge and inspire golfers of all skill levels, with each hole offering a 
                unique character, distinct challenges, and a rewarding, truly memorable experience.</p>
        </div>
    </div>
</div>



<div class="py-5 w-full bg-[#2ca9bc] my-5">
	<h1 class="text-center merriweather-black-italic text-4xl pb-5">Honours & Awards</h1>
	<div class="flex py-5 justify-center items-center mx-auto gap-4 flex-col md:flex-row flex-wrap px-5">
		<div class="flex items-center p-2 rounded-lg w-full md:w-fit bg-gray-50">
			<svg class="w-20 flex-none -ml-5" fill="#000000" viewBox="0 0 24 24" id="trophy-award"
				data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<polygon id="primary" points="16 3 8 6 9 17 15 17 16 3"
						style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</polygon>
					<path id="secondary" d="M8,17h8a1,1,0,0,1,1,1v3a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V18A1,1,0,0,1,8,17Z"
						style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</path>
				</g>
			</svg>
			<div class="w-full">
				<p class="text-center pb-2 font-semibold">Most Outstanding Indian Golf Architect</p>
				<p class="text-xs flex items-end justify-end">by Confederation of Indian Industry (CII)</p>
			</div>
		</div>
		<div class="flex items-center p-2 rounded-lg w-full md:w-fit bg-gray-50">
			<svg class="w-20 flex-none -ml-5" fill="#000000" viewBox="0 0 24 24" id="trophy-award"
				data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<polygon id="primary" points="16 3 8 6 9 17 15 17 16 3"
						style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</polygon>
					<path id="secondary" d="M8,17h8a1,1,0,0,1,1,1v3a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V18A1,1,0,0,1,8,17Z"
						style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</path>
				</g>
			</svg>
			<div class="w-full">
				<p class="text-center pb-2 font-semibold">Best Golf Based Development in India 2014 -15</p>
				<p class="text-xs flex items-end justify-end">Asia Pacific Region Competition</p>
			</div>
		</div>
		<div class="flex items-center p-2 rounded-lg w-full md:w-fit bg-gray-50">
			<svg class="w-20 flex-none -ml-5" fill="#000000" viewBox="0 0 24 24" id="trophy-award"
				data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<polygon id="primary" points="16 3 8 6 9 17 15 17 16 3"
						style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</polygon>
					<path id="secondary" d="M8,17h8a1,1,0,0,1,1,1v3a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V18A1,1,0,0,1,8,17Z"
						style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</path>
				</g>
			</svg>
			<div class="w-full">
				<p class="text-center pb-2 font-semibold">Best Golf Course Renovation</p>
				<p class="text-xs flex items-end justify-end">by Confederation of Indian ndustry (CII)</p>
			</div>
		</div>
		<div class="flex items-center p-2 rounded-lg w-full md:w-fit bg-gray-50">
			<svg class="w-20 flex-none -ml-5" fill="#000000" viewBox="0 0 24 24" id="trophy-award"
				data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<polygon id="primary" points="16 3 8 6 9 17 15 17 16 3"
						style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</polygon>
					<path id="secondary" d="M8,17h8a1,1,0,0,1,1,1v3a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V18A1,1,0,0,1,8,17Z"
						style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</path>
				</g>
			</svg>
			<div class="w-full">
				<p class="text-center pb-2 font-semibold">Best 9 Hole Golf Course Development</p>
				<p class="text-xs flex items-end justify-end">by Indian Golf Industry Association</p>
			</div>
		</div>
		<div class="flex items-center p-2 rounded-lg w-full md:w-fit bg-gray-50">
			<svg class="w-20 flex-none -ml-5" fill="#000000" viewBox="0 0 24 24" id="trophy-award"
				data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<polygon id="primary" points="16 3 8 6 9 17 15 17 16 3"
						style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</polygon>
					<path id="secondary" d="M8,17h8a1,1,0,0,1,1,1v3a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V18A1,1,0,0,1,8,17Z"
						style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
					</path>
				</g>
			</svg>
			<div class="w-full">
				<p class="text-center pb-2 font-semibold">Best Sustainable Golf Development Leadership Awards</p>
				<p class="text-xs flex items-end justify-end">by World CSR Awards</p>
			</div>
		</div>
	</div>
</div>

<div class="py-5 md:pb-5 w-full overflow-hidden relative">
	<h1 class="text-center merriweather-black-italic text-4xl pb-10">Our Clients</h1>
	<div id="clients-slider" class="flex transition-transform duration-700 ease-in-out lg:px-14">
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/Lodha.png') }}" class="object-fit" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/royal-calcutta-golf-club.jpeg') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-3">
				<span>Royal Calcutta Golf Club</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/godrej.jpeg') }}" class="object-fit" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/delhi-golf-club.png') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-3">
				<span>Delhi Golf Club</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/adani.png') }}" class="object-fit" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/railways.png') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-3">
				<span>Indian Railways</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/dainik-bhaskar.jpg') }}" class="object-fit" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/cpwd.png') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-8">
				<span>CPWD</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/hemisphere.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/himachal-tourism.png') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-3">
				<span>Himachal Tourism</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/supertech.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/Delhi_Development_Authority.png') }}" class="object-fit h-32" alt="...">
			<div class="text-2xl font-bold pl-3">
				<span>Delhi Development Authority</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/rise.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/J&K_Tourism.webp') }}" class="object-fit h-32" alt="...">
			<div class="text-4xl font-bold pl-3">
				<span>J&K Tourism</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/Central_Reserve_Police_Force.png') }}" class="object-fit h-32" alt="...">
			<div class="text-3xl font-bold pl-3">
				<span>Central Reserve Police Force</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/ats.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/chandigarh-golf-club.png') }}" class="object-fit h-32" alt="...">
			<div class="text-3xl font-bold pl-3">
				<span>Chandigarh Golf Club</span>
			</div>
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/NGCl.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/pkl-golf-club.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/prateek-group.avif') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/hidco.jpg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/anshul-homes.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/CIDCO.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/wellingtom-gymkhana-club.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/tollygunge-club.gif') }}" class="object-fit h-32" alt="...">
		</div>
	</div>
</div>

{% endblock content %}