{% extends "layout.html" %}
{% block content %}

<div class="flex w-full flex-col md:flex-row px-2 md:px-10 gap-4 items-center">
    <div class="w-full flex items-center justify-center">
        <img src="{{ url_for('static', filename='bg7.png') }}" class="rounded-lg">
    </div>
    <div class="w-full">
        <h1 class="merriweather-black-italic text-4xl pb-3">Get to Know Us Better!</h1>
        <p class="pb-2">At Y&Y Solutions, we specialize in delivering comprehensive design and development solutions for golf courses that
            balance sustainability, playability, and innovation. With over 10 successful golf projects across India, we have
            established ourselves as leaders in creating visually stunning and highly functional golf courses.</p>
        <p class="pb-2"><strong>Our in-house team of highly qualified and skilled experts</strong> works closely with clients to ensure every project aligns
            seamlessly with site-specific requirements. Whether designing a new course or renovating an existing one, our
            approach emphasizes collaboration, environmental stewardship, and ease of maintenance.</p>
        <p class="pb-2">At the heart of our philosophy is the commitment to providing golfers of all skill levels with a memorable and
            enjoyable experience while meeting the highest standards of design excellence.</p>
        </div>
</div>

<div class="my-10 p-5 px-5 md:px-20 bg-sky-700 text-white flex flex-col md:flex-row items-center gap-4">
    <p class="pr-10 text-lg md:text-2xl">Collaborate with <strong class="border-b">Srikant Sharma</strong>, India’s first qualified BTech Agriculture Turf Specialist, and a team that seamlessly blends design, construction, and maintenance expertise for exceptional golf courses.</p>
    <a class="p-3 bg-slate-200 rounded-lg w-fit whitespace-nowrap text-black font-semibold hover:bg-slate-300" href="{{ url_for('team') }}">
        Meet Our World Class Team
    </a>
</div>

<div class="flex flex-col md:flex-row items-center justify-center pb-5 gap-4 px-3">
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg5.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Design Dictated by Nature</h5>
            <p class="mb-3 font-normal text-gray-700">Creating a golfing landscape starts with understanding the land’s uniqueness. We embrace nature’s features in our designs, 
                ensuring every addition blends seamlessly, appearing as a natural part of the environment.</p>
        </div>
    </div>
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg6.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Sustainable Golf Courses</h5>
            <p class="mb-3 font-normal text-gray-700">Our design process focuses on creating sustainable golf courses that harmonize with nature, utilizing native features 
                and resources to enhance the environment while ensuring easy maintenance.</p>
        </div>
    </div>
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col hover:bg-gray-100 max-w-96">
        <img class="object-cover w-full rounded-t-lg h-60 md:h-auto md:w-96" src="{{ url_for('static', filename='bg8.png') }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Unique golfing experiences</h5>
            <p class="mb-3 font-normal text-gray-700">We believe a great golf course should challenge and inspire golfers of all skill levels, with each hole offering a 
                unique character, distinct challenges, and a rewarding, truly memorable experience.</p>
        </div>
    </div>
</div>



<div class="pt-10 mb-10">
	<h1 class="text-center merriweather-black-italic text-4xl pb-5">Associate Partners</h1>
	<div class="flex justify-center items-center flex-col md:flex-row px-4 gap-4">
		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
			<img class="rounded-t-lg object-cover w-full h-64" src="{{ url_for('static', filename='img/projects/dr-water.png') }}" alt="Service Image" />
			<div class="p-5">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Dr. Water</h5>
				<p class="mb-3 font-normal text-gray-700">Dr. Water provides advanced water purification solutions designed for homes and businesses, ensuring clean, safe, and healthy drinking water. Trusted for innovation and quality, Dr. Water is your go-to source for pure water solutions.</p>
			</div>
		</div>
		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
			<img class="rounded-t-lg object-cover w-full h-64" src="{{ url_for('static', filename='img/projects/jagwar.webp') }}" alt="Service Image" />
			<div class="p-5">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Jagwar Associates</h5>
				<p class="mb-3 font-normal text-gray-700">Jagwar Associates is your trusted partner for all kinds of machine supplies, catering to businesses of every scale. We deliver reliable, high-quality machinery to boost your productivity and performance.</p>
			</div>
		</div>
	</div>
</div>



<div class="py-5 md:pb-5 w-full overflow-hidden relative">
	<h1 class="text-center merriweather-black-italic text-4xl pb-10">Our Clients</h1>
	<div id="clients-slider" class="flex transition-transform duration-700 ease-in-out lg:px-14">
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/heritage-girls-school.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/yaan-wellness-retreat.png') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/1.jpeg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/2.jpeg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/3.jpeg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/4.jpeg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/5.jpeg') }}" class="object-fit h-32" alt="...">
		</div>
		<div
			class="w-full lg:w-1/4 flex-shrink-0 p-2 text-center border-2 border-gray-200 lg:mx-2 rounded-lg flex items-center justify-center">
			<img src="{{ url_for('static', filename='img/clients/tollygunge-club.gif') }}" class="object-fit h-32" alt="...">
		</div>
	</div>
</div>

{% endblock content %}