{% extends "layout.html" %}
{% block content %}

<div>
    <h1 class="text-center merriweather-black-italic text-4xl md:text-6xl py-4">Services We Offer</h1>
    <div class="flex justify-center items-center flex-wrap flex-col md:flex-row my-8 px-4 gap-4">
		{% for service in services %}
		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
			<div>
				<img class="rounded-t-lg object-cover w-full h-48" src="{{ url_for('static', filename=service.img) }}" alt="Service Image" />
			</div>
			<div class="p-5">
				<div>
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 capitalize">{{ service.name }}</h5>
				</div>
				<p class="mb-3 font-normal text-gray-700">{{ service.desc }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}